<p>contact-form works!</p>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
    type="text" id="firstName" class="form-control"
    minlength="5"
    required
    #tempVariable="ngModel"
    ngModel name="firstName"
    (change)="myLog(tempVariable)"
    >
    <div class="alert alert-danger" *ngIf="tempVariable.invalid && (tempVariable.dirty || tempVariable.touched)">
      <div *ngIf="tempVariable.errors?.['required']">
        First Name is required!
      </div>
      <div *ngIf="tempVariable.errors?.['minlength']">
        Name must be at least {{tempVariable.errors?.['minlength'].requiredLength}} characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
    ngModel name="comment"
    name="testName" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div><br>
  <button class="btn btn-primary">Submit</button>
</form>
