<form #f="ngForm" (ngSubmit)="logSubmit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <!--
    <div *ngIf="contact.invalid && contact.touched"
    class="alert alert-danger"
    >
    Here is the alert.
    </div>
    -->
    <div class="form-group">
      <label for="firstName">
        First Name
      </label>

      <input
      type="text" id="firstName" class="form-control"
      minlength="5"
      required
      #tempVariable="ngModel"
      ngModel name="firstName"
      (change)="myLog(tempVariable)">

      <div class="alert alert-danger" *ngIf="tempVariable.invalid && (tempVariable.dirty || tempVariable.touched)">
        <div *ngIf="tempVariable.errors?.['required']">
          First Name is required!
        </div>
        <div *ngIf="tempVariable.errors?.['minlength']">
          Name must be at least {{tempVariable.errors?.['minlength'].requiredLength}} characters long.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control">
    </textarea>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"
      ngModel name="isSubscribed"> Subscribe the mailing list
    </label>
  </div>
  <p>{{f.value | json}}</p>

  <button class="btn btn-primary" [disabled]="!f.valid">
    Submit
  </button>
</form>
