<p>Change Password Form</p>

<form
#myForm="ngForm"
[formGroup]="form">
  <div
    class="form-group">

    <label
      for="oldPassword">
      Old Password
    </label>

    <input
      type="password"
      formControlName="oldPassword"
      id="oldPassword"
      class="form-control"
      (keyup.enter)="myLog(oldPassword)">
  </div>
  <div *ngIf="oldPassword?.touched && oldPassword?.invalid"
    class="alert alert-danger">
    <div *ngIf="oldPassword?.errors?.['required']">
      Old Password field is required.
    </div>
    <div *ngIf="oldPassword?.errors?.['oldPasswordIsWrong']">
      Old Password is incorrect.
    </div>
  </div>
  <p>//Correct Old Password is: '1234'</p>

  <br>
  <div class="form-group">
    <label
      for="newPassword">
      New Password
    </label>

    <input
      type="password"
      formControlName="newPassword"
      id="newPassword"
      class="form-control">
  </div>
  <div *ngIf="newPassword?.touched && newPassword?.invalid"
    class="alert alert-danger">
    <div *ngIf="newPassword?.errors?.['required']">
      New Password field is required.
    </div>
  </div>


  <br>

  <div class="form-group">

    <label
      for="confirmPassword">
      Confirm Password
    </label>

    <input
      type="password"
      formControlName="confirmPassword"
      id="confirmPassword"
      class="form-control">
  </div>
  <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
    class="alert alert-danger">
    <div *ngIf="confirmPassword?.errors?.['required']">
      Confirm Password field is required.
    </div>
  </div>

  <button
  [disabled]="!myForm.valid"
  type="submit"
  class="btn btn-primary">
    submit
  </button>

</form>
