<h2>TEST</h2>
<h3>{{ title1 }}</h3>
<!--<img src=" {{ imgURL }}" /> <!-- data interpolation -->
<br><br>
<h3 [textContent]="title2"></h3>
<!--<img [src]="imgURL" /> <!-- one way property binding -->

<!--
<table>
  <tr>
    <td>
      a
    </td>
    <td>
      b
    </td>
  </tr>
  <tr>
    <td>
      c
    </td>
    <td>
      d
    </td>
  </tr>
</table>
-->

<br>
<table>
  <tr>
    <td [attr.colspan] = "colSpan"></td><!-- colspan is unknown attribute of DOM, so we have to create this attribute adding attr.xxx -->
  </tr>
</table>
<br>
<button class="btn btn-primary" [class.active]="isActiveButton">Test</button>
<!--                             class binding   -->
<br><br>
<span [style.background]="isActiveSpan ? 'blue' : 'yellow'">Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
<!--   style binding   -->

<br>

<!-- to event binding we use () -->
<div (click)="onDivClicked()">
  <button (click)="onSave($event)">Save</button>
</div><br>

<!-- event filtering -->
Event filtering<br>
<input (keyup.enter)="enterPressed()"/><br><br>

Getting value from input<br>
<input #email (keyup.enter)="takeValueFromInput(email.value)" /><br><br>
<!-- but we don't should implement this like that -->

<!-- instead we should use two-way binding:-->
Two-way binding<br>
<input [(ngModel)]="email2" (keyup.enter)="onKeyUp()"/><br><br>


Build-in Pipes:<br>
Title: {{course.title | lowercase | uppercase }}<br>
Rating: {{course.rating | number:'1.1-1'}}<br>
Students: {{course.students | number}}<br>
Price: {{course.price | currency: 'USD':true:'1.2-2'}}<br>
Release date: {{course.releaseDate | date: 'dd/MM/yyyy'}}<br><br>

Custom pipes:<br>
{{longText | myPipe: 150}}

<br><br>
<app-award></app-award>
<app-my-title-case></app-my-title-case>
<br><br><br><br>

<p>Input-output component properties</p>
<app-award [award]="post.isAchieve" (change)="onAwardChanged($event)"></app-award>
<!--        isAward - is public property of the award component -->

<app-bootstrap-panel>
  <div class="heading">Test 1</div>
  <div class="body">Test 2</div>
  <div class="footer">Test 3</div>
</app-bootstrap-panel>
<br><br>
<app-twitter-like></app-twitter-like>
