___________________________________________________________________________________________
<form #myForm="ngForm">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
    ngModel
    name="courseName"
    type="text"
    id="courseName"
    class="form-control">
  </div><br>

  <div class="form-group">
    <label for="category">Category</label>
    <input
    ngModel
    name="category"
    type="text"
    id="category"
    class="form-control">
  </div>

  <div class="checkbox">
    <label>
      <input
      type="checkbox"
      ngModel
      name="isGuarantee"> 30-day money back guarantee
    </label>
  </div>

</form>
